<section class="post-details">
  <h1 class="post-details__title">{{post?.title}}</h1>
  <button mat-mini-fab  [matMenuTriggerFor]="menu" color="primary" class="post-details__buttons__mobile" >
    <mat-icon aria-label="Menu">more_vert</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item  (click)="navigateTo('feed/edit-post/' + postId)">
        <mat-icon>edit</mat-icon>
        <span>Edit Post</span>
      </button>
      <button mat-menu-item (click)="deletePost()" [routerLink]="['']">
        <mat-icon>delete</mat-icon>
        <span>Delete Post</span>
      </button>
    </mat-menu>
  </button>
  <figure class="post-details__figure">
    <div class="post-details__buttons" [ngClass]="showButtons ? 'post-card-details__buttons--visible' : 'post-card-details__buttons--hidden'">
      <div>
        <button mat-fab color="primary"  (click)="navigateTo('feed/edit-post/' + postId)" >
          <mat-icon aria-label="Edit post">edit</mat-icon>
        </button>
      </div>
      <div>
        <button mat-fab color="primary" (click)="deletePost()" [routerLink]="['']">
          <mat-icon aria-label="Remove post">delete</mat-icon>
        </button>
      </div>
    </div>
    <img class="post-details__image" [src]="post?.image" [alt]="post?.title">
  </figure>
  <mat-divider></mat-divider>
  <p class="post-details__content ">{{post?.content}}</p>
</section>

