<form [formGroup]="authForm">
  <mat-card>
    <div class="auth-form ">
      <mat-card-header>
        <mat-card-title>{{formTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="label">
            <mat-error
              *ngIf="authForm.controls.email.hasError('email') && !authForm.controls.email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="authForm.controls.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="password" [errorStateMatcher]="matcher" placeholder="label"
              type="password">
            <mat-error
              *ngIf="authForm.controls.password.hasError('email') && !authForm.controls.password.hasError('required')">
              Please enter a valid password
            </mat-error>
            <mat-error *ngIf="authForm.controls.password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="auth-form__actions">
        <button (click)="getFormValue()" mat-raised-button color="primary">Ok</button>
        <button mat-raised-button color="primary">Cancel</button>
      </mat-card-actions>
    </div>
  </mat-card>
</form>